@charset "UTF-8";

:root {
    --BODY-COLOR: #023c57;
    --FONT-COLOR: #e7e5e5;
    --BUTTON-COLOR: #004F4D;
    --DIV-COLOR: #002333;
    --DIV-COLOR-2: #077375;
    --FOOTER-COLOR: #027368;
    --FONT-BASE: Arial, Helvetica, sans-serif;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--FONT-BASE);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 350px;
}

div.single{
    width: 100%;
    margin: 30px 0;
}

div.single label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

div.single .input {
    width: 100%;
    padding: 5px;
    color: rgb(150, 150, 150);
    border: 0;
    border-bottom: 2px solid var(--FOOTER-COLOR);
    outline: 0;
    font-size: 16px;
}

div.single .input:focus,
div.single .input:valid {
    border-bottom: 2px solid var(--FOOTER-COLOR);
}

div.single .input:focus ~ label
div.single .input:valid ~ label {
    transform: translateY(-24px);
    font-size: 12px;
    color: var(--FOOTER-COLOR);
}

h1 {
    font-family: var(--FONT-BASE);
}