@charset "UTF-8";

body{
    background-image: linear-gradient(#506266, #10454F);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    } 

h1{
    color: white; 
    text-align: center; 
    background-color:#A3AB78;
    border-radius: 10px;
    }

img{
    display: block;margin: 0 auto;
    border-radius: 30px;
    }

p {
    color: white; text-align: center;
    }