@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D0D0D;
}

body, html {
     background-color: #302D1F;
     height: 100vh;
     width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #F2F2F2;
    width: 260px;
    height: 498px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background: #027373 url(../img/background-001.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    margin-bottom: 10px;
    font-size: 1.2em;
   text-align: center;
}

div#formulario > p {
    text-align: center;
    font-size: 0.8em;
    margin: 0px 0px 20px 0px;
}

label {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #302D1F;
    display: block;
    width: 99%;
    height: 34px;
    border-radius: 8px 0px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: #0D0D0D;
    background-color: #302D1F;
    width: 34px;
    padding: 5px;
    border-radius: 8px 0px ;
}

div.campo > input {
    background-color: #756f54;
    font-size: 0.9em;
    width: calc(100% - 39px);
    height: 100%;
    border: 0px;
    border-radius: 0px 0px 8px 0px;
    transform: translateY(-7px);
    padding-left: 10px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;

    width: 100%;
    height: 40px;
    margin: 30px 0px 10px 0px;

    background-color: #302D1F;
    color: #F2F2F2;

    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #575139;
    cursor: pointer;
}

form > a.botao {
    display: block;

    text-align: center;
    font-size: 1em;

    width: 100%;
    height: 40px;

    color: #494531;
    text-decoration: none;
}

form > a.botao:hover {
    color: #2b271b;
}

input::placeholder {
    color: #F2F2F2;
    font-size: 0.8em;
  }