@charset "UTF-8";

/* PALETAS
    background - #027373
    main - #F2E7DC
    font - #0D0D0D
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D0D0D;
}

body, html {
     background-color: #302D1F;
     height: 100vh;
     width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #F2E7DC;
    width: 249px;
    height: 498px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
}

section#login > div#imagem {
    background: #027373 url(../img/background-001.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > p {
    padding-top: 10px;
    text-align: center;
}


