@charset "UTF-8";

body {
    text-align: center;
    background-color: rgb(72, 56, 56);
}

div {
    font-size: 30px; 
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    background-color: rgb(210, 215, 159) ;
    color: rgb(66, 133, 91);
    border-radius: 10px;
}

div:hover {
    background-color: rgb(144, 183, 125);  
}

.botao:hover {
    color: white;
}

div > p {
    display: none;
}

div:hover > p {
    font-size: 20px;
    display: block;
    border: 1px solid black;
    background-color: rgb(210, 215, 159) ;
    color: rgb(66, 133, 91);
}