@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #D9D8D7;
}

div#title {
    background-color: #A09383;
    
}

h1 {
    text-align: center;
    color: white;
    padding: 20px 0px 10px 0px;
}

main {
    position: relative;
    height: 100vh;
}

div#video {
    margin-top: 30px;
}

h2 {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

section#youtube {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

div#bottom img {
    width: 40px;
    margin: 10px;
}

div#bottom img:hover {
    border: 2px solid rgba(0, 0, 0, 0.281);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    transition: transform 0.5s;
}

footer {
    text-align: center;
    background-color: #a09383ce;
    color: white;
    padding: 10px;   
    bottom: 0;
    position: fixed;
    width: 100%;
}

a#link-footer {
    color: white;
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}